.adminheader {
    display: flex;
    font-size: xxx-large;
    align-items: center;
    background-color: #2EAF7D;
    color: white;
}

/* Add animation */
@keyframes cardAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}


/* Add content style */
.common-box .content {
    padding: 20px;
}

