.feedboxheader {
  /* margin-top: 15px; */
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.feedlistbox {
  /* border: 1px solid;  */

  /* background-color: gainsboro; */
  /* margin: 1px 0 0 0;
    display: flex; */
  align-items: center;
  justify-content: center;
}

.feed-list {
  height: auto;
  /* border: 1px solid #ddd; */
}

.feed-item {
  /* border: 1px solid; */
  /* background-color: rgb(185, 180, 180); */
  background-color: gainsboro;
  height: fit-content;
  border-radius: 8px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.feed-btn {
  display: inline-block;
  /* padding: 6px 18px; */
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #2e8bff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.23, -0.37, 0.24, 0.94);
  margin-left: 89%;
  padding: 6px 48px;
}

.feed-btn:hover {
  background-color: #2e8bff;
  border-color: #2e8bff;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 0 20px #2e8bff;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .feed-btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}